@import url('//fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('//fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(104, 104, 109);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(9, 32, 83);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}


.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo a h1{
    color: black;
}

.logo h1 b{
    color: rgb(155, 41, 37);
    
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li:before{
    
    background: rgb(253, 72, 40);

}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    font-weight: 700;
}

.menu nav ul li a:hover{
    color:rgb(49, 4, 4);
    transition: 300ms;
}

.menu nav ul li a i,
.menu nav .fa-moon{
    display: none;
}


.btn-dark{
    background: rgb(226, 224, 224);
    border-radius: 6px;
    border:none;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    cursor: pointer;
}

.btn-dark:hover{
    background:rgb(185, 183, 183);
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #ffff;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#icon-menu:hover{
    background: #f2f2f2;
    opacity: 0.9;
}

.Dark  #icon-menu, .Dark #icon-menu i {
    background: #202020;
}

.Dark #icon-menu .fa-bars{
    color: #ffff;
}

.Dark #icon-menu:hover{
    background: #313131;
}

/* portada */


.container-cover{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: calc(100vh - 80px);
    position: relative;
    margin-top: 80px;
    background-image: url(mockup-ga1053e56a_1920.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.671);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
}

/* contenido del articulo */

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.container-content .pic{
    border-radius: 6px;
}

.icon-skills i{
    margin: 30px 20px;
    font-size: 6em;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: #a2a2a2;
    transition: 300ms;
    

}

.icon-skills i:hover{
    transform: scale(1.2);
}
.icon-skills .fa-html5:hover{
    color: #F06529;
    cursor: pointer;
    

}

.icon-skills  .fa-css3-alt:hover{
    color: #264de4;
    cursor: pointer;
}
.icon-skills .fa-js-square:hover{
    color: #F0DB4F;
    cursor: pointer;
}

.icon-skills .fa-git-alt:hover{
    color:#F1502F;
    cursor: pointer;
}

[id] {
    scroll-margin-top: 100px
 }


article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(22, 21, 21);
}

.Dark article::before{
    background: #353434;
}
 

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article img{
    width: 100%;
    margin-top: 20px;
    
}
aside h2{
    color: #313131;
}

.container-aside aside a .ViewDemo{
    background-color: #089fe0;
}

/* aside  de los articulos*/

.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: rgba(15, 15, 15, 0.671);
    border:none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button{
    opacity: 0.9;
}


/* estilo del formulario */

.container-footer hr{
    margin-top: 40px;
    border: none;
    height: 2px;
    background: #e0dcdc;
    margin-bottom: 50px;
}

form{
    box-shadow: 0px 0px 1px;
    padding-bottom: 80px;
}

form .form{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.form .form-title{
    color: black;
}
.Dark .form .form-title{
    color: #ffff;
}
.form{
    background-color: #ffff;
    margin: auto;
    max-width: 400px;
    border-radius: 9px;
    padding: 3.5em 1.5em;

}


.form-container{
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form-title{
    text-align: center;
    font-size: 1.9em;
    margin-bottom: .4em;
}
.form-input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0bb;
    border-radius: 0.2em;
}

.form-input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form-cta{
    font-family: inherit;
    background-color: #089fe0;
    color: #ffff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 700;
}



@media(max-width:450px){
    .icon-skills i{
        
    }
    .form{
        padding: 3.5em 1.5em;
    }
}

/* aqui termina el estilo de formulario */



/* footer-pie de pagina */

footer .logo-footer{
    margin-top: 110px;
}

footer .logo-footer img{
    border-radius:150px;
    
}

.Dark footer .logo-footer img{
    border:5px solid #313131;
}

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;

}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Dark .container-footer footer .redes-footer .icon-redes-footer{
    background: #313131;
}
.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}



.container-footer footer .redes-footer .fa-linkedin-in:hover{
    background: #2591c4;
    color: #fff;
}

.container-footer footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443AB) ;
    color: #fff;
}

.container-footer footer .redes-footer .fa-github:hover{
    background: black;
    color: #fff;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #e0dcdc;
}



.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* resposive desing */


@media screen and (max-width:1220px){
    .header-content,
     .container-content,
      .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width:1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    article{
        border-bottom: 0 0 0 0 ;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px 30px;
    }
}

@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);

    }
    .move-container-all{
        transform: translateX(300px);
    }
    
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top:80px;
        left: 0;
        background: #ffff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .lateral{
        width: 300px;
        transform: translateX(0px);
    }
    
    
    .menu nav ul{
        flex-direction: column;
    }
    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content:flex-start;
    }


    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .Dark .menu nav li a{
        color:#ffff;
    }
    .Dark .menu{
        background:#222121;
    }


    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #852727;
    }
    .btn-dark{
        width: 80px;
        display: inline-block;
        margin-top: 45px;
        margin-left: 10px;
    }
    .menu nav .fa-moon{
        display: flex;
        margin-top: 40px;
        font-size: 20px;
        color: #852727;
    }

    #icon-menu{
        display: flex;
    }
    .icon-skills .fa-html5{
        color: #F06529;
    
    }
    
    .icon-skills  .fa-css3-alt{
        color: #264de4;
    }
    .icon-skills .fa-js-square{
        color: #F0DB4F;
    }
    .icon-skills .fa-git-alt{
        color:#F1502F;
    }

    
    .icon-skills i{
        margin: 20px 25px;
        flex-wrap: wrap;
        justify-content:space-between;
        text-align: center;
    }

    .container-aside{
        flex-wrap: wrap;
    }

   .form{
        max-width: 300px;
        max-height: 430px;
    }


}




